* {
    font-family: 'Roboto regular';
}

.container {
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
}

.pages-title {
    margin: 20px;
    align-self: center;
}

.login {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.feedback {
    display: none;
}

.feedback-invalid {
    display: block;
    color: red;
    font-size: 14px;
}

.input-invalid {
    background: rgba(255, 0, 0, 0.19);
    border: 1px solid #ED2626;
}


form {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.login label {
    font-size: 16px;
    line-height: 26px;
    flex: 1;
}

.login input {
    padding: 10px 12px;
    border: 1px solid #767676;
    border-radius: 5px;
}

.login button {
    width: 40%;
    height: 30px;
    margin: 10px auto;
    background: #BEE2AE;
    border-radius: 5px;
    border: none;
}

.login-bottom {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 5px 0 5px 60px;
}

.login-bottom div {
    margin: 20px;
    font-size: 14px;
}

.login-bottom div a {
    text-decoration: none;
    color: black;
}

form .info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.login fieldset {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 90%;
    padding: 10px;
}


@media screen and (min-width:768px) {
    .login {
        width: 75%;
    }

    .login fieldset {
        width: 40%;
    }

    form .info {
        flex-direction: row;
    }
}