<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Sign up
        </title>
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="icon" href="../../resets/logo.png">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/fonts/style.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/sign-up.css">
        <script src="../javascript/sign-up.js"></script>
    </head>
    <body>
        <header>
            <button id="hamburger-icon">
                <img src="../../resets/hamburgericon.png" alt="Navbar Button" height="30px">
            </button>
            <div id="header-href">
                <a href="#Tutorials">
                    Tutorials |
                </a>
                <a href="#Contact">
                    Contact
                </a>
            </div>
            <input type="text" placeholder="Search">
            <img id="lupa"
                src="https://icon-library.com/images/search-magnifying-glass-icon/search-magnifying-glass-icon-3.jpg"
                alt="Search Button">
            <button class="button-login home" id="home">
                Home
            </button>
            <button class="button-login log-in">
                Login
            </button>
        </header>
        <div class="container">
            <div class="pages-title">
                <div>
                    <img src="../../resets/logo.png" alt="Trackgenix Logo">
                </div>
                <div>
                    <h1>
                        Trackgenix
                    </h1>
                    <h2>
                        Data Management
                    </h2>
                </div>
            </div>
            <div class="login">
                <h3>Sign up</h3>
                <form>
                    <div class="info">
                        <fieldset>
                            <label class="name-label" for="register-name">Name</label>
                            <input class="register-input" type="text" name="register-name" id="register-name" placeholder="Write your name">
                            <span id="name-feedback" class="feedback">The name must only contain letters and at least three
                                of them.</span>
                            <label class="name-label" for="register-surname">Surname</label>
                            <input class="register-input" type="text" name="register-surname" id="register-surname"
                                placeholder="Write your surname">
                            <span id="surname-feedback" class="feedback">The surname must only contain letters. At least
                                three characters.
                            </span>
                            <label class="name-label" for="register-email">Email</label>
                            <input class="register-input" type="email" name="register-email" id="register-email" placeholder="Write your email">
                            <span id="email-feedback" class="feedback">The email has not a format valid.</span>
                            <label class="name-label" for="register-password">Password</label>
                            <input class="register-input" type="text" name="register-password" id="register-password"
                                placeholder="Write your password">
                            <span id="password-feedback" class="feedback">The password has to contain numbers and letters.
                                At least 8 characters.
                            </span>
                            <label class="name-label" for="register-repeat-password">Repeat your password</label>
                            <input class="register-input" type="text" name="register-repeat-password" id="register-repeat-password"
                                placeholder="Repeat your password">
                            <span id="repeat-password-feedback" class="feedback">The password has to contain numbers and
                                letters. At least 8 characters.
                            </span>
                        </fieldset>
                        <fieldset>
                            <label class="name-label" for="register-dni">DNI</label>
                            <input class="register-input" type="number" name="register-dni" id="register-dni" placeholder="Write your DNI">
                            <span id="dni-feedback" class="feedback">The DNI must to contain only numbers. At least eight
                                characters.</span>
                            <label class="name-label" for="register-birthday">Birthday</label>
                            <input class="register-input" type="text" name="register-birthday" id="register-birthday"
                                placeholder="Writhe you birthday">
                            <span id="birthday-feedback" class="feedback">The date has to respect the format dd/mm/yyyy and
                                be before of today.
                            </span>
                            <label class="name-label" for="register-telephone">Telephone number</label>
                            <input class="register-input" type="number" name="register-telephone" id="register-telephone"
                                placeholder="Write your telephone">
                            <span id="telephone-feedback" class="feedback">The telephone must to contain only numbers. Ten
                                characters are allowed.
                            </span>
                            <label class="name-label" for="register-address">Address</label>
                            <input class="register-input" type="text" name="register-address" id="register-address"
                                placeholder="Write your address">
                            <span id="address-feedback" class="feedback">The address must to contain numbers and letters. At
                                least three letters and six characters.
                            </span>
                            <label class="name-label" for="register-city">City</label>
                            <input class="register-input" type="text" name="register-city" id="register-city" placeholder="Write your City">
                            <span id="city-feedback" class="feedback">The city must to contain numbers. At least
                                ten characters.
                            </span>
                            <label class="name-label" for="register-zip">Postal Code</label>
                            <input class="register-input" type="number" name="register-zip" id="register-zip" placeholder="Write your Postal Code">
                            <span id="zip-feedback" class="feedback">The postal code must to contain only numbers. Between
                                four and five characters are allowed.
                            </span>
                        </fieldset>
                    </div>
                    <button type="submit" id="signup-submit">Sign up</button>
                </form>
            </div>
            <footer>
                <div id="footer-img">
                    <img src="../../resets/linkedin.png" alt="Linkedin icon">
                    <img src="../../resets/twitter.png" alt="Twitter icon">
                    <img src="../../resets/facebook.png" alt="Facebook icon">
                    <img src="../../resets/instagram.png" alt="Instagram icon">
                    <img src="../../resets/github.png" alt="Github Icon">
                </div>
                <p>
                    Montevideo, Uruguay
                </p>
                <p>
                    Copyright 2022 Radium Rocket. AII rights reserved.
                </p>
            </footer>
        </div>
    </body>
</html>