<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Log in
    </title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="icon" href="../../resets/logo.png">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/fonts/style.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/log-in.css">
    <script src="../javascript/log-in.js"></script>
</head>

<body>
    <header>
        <button id="hamburger-icon">
            <img src="../../resets/hamburgericon.png" alt="Navbar Button" height="30px">
        </button>
        <div id="header-href">
            <a href="#Tutorials">
                Tutorials |
            </a>
            <a href="#Contact">
                Contact
            </a>
        </div>
        <input type="text" placeholder="Search">
        <img id="lupa"
            src="https://icon-library.com/images/search-magnifying-glass-icon/search-magnifying-glass-icon-3.jpg"
            alt="Search Button">
        <button class="button-login home">
            Home
        </button>
        <button class="button-login sign-up">
            Sign Up
        </button>
    </header>
    <div class="container">
        <div class="pages-title">
            <div>
                <img src="../../resets/logo.png" alt="Trackgenix Logo">
            </div>
            <div>
                <h1>
                    Trackgenix
                </h1>
                <h2>
                    Data Management
                </h2>
            </div>
        </div>
        <div class="login">
            <h3>Log in</h3>
            <form>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Write your e-mail">
                <div id="email-feedback" class="feedback">The email has not a format valid.</div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Write your password">
                <div id="password-feedback" class="feedback">The password has to contain numbers and letters.</div>
                <div class="login-bottom">
                    <div>
                        <label for="remember" class="remember">
                            <input type="checkbox" name="remember" id="remember-me">Remember me
                            <i></i>
                        </label>
                    </div>
                    <div>
                        <a href="#recover">
                            Forgot your password?
                        </a>
                    </div>
                </div>
                <button type="submit">Sign in</button>
            </form>
        </div>
        <footer>
            <div id="footer-img">
                <img src="../../resets/linkedin.png" alt="Linkedin icon">
                <img src="../../resets/twitter.png" alt="Twitter icon">
                <img src="../../resets/facebook.png" alt="Facebook icon">
                <img src="../../resets/instagram.png" alt="Instagram icon">
                <img src="../../resets/github.png" alt="Github Icon">
            </div>
            <p>
                Montevideo, Uruguay
            </p>
            <p>
                Copyright 2022 Radium Rocket. AII rights reserved.
            </p>
        </footer>
    </div>
</body>

</html>