<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Sign up
    </title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="icon" href="../../resets/logo.png">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/fonts/style.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/sign-up.css">
</head>

<body>
    <header>
        <button id="hamburger-icon">
            <img src="../../resets/hamburgericon.png" alt="Navbar Button" height="30px">
        </button>
        <div id="header-href">
            <a href="#Tutorials">
                Tutorials |
            </a>
            <a href="#Contact">
                Contact
            </a>
        </div>
        <input type="text" placeholder="Search">
        <img id="lupa"
            src="https://icon-library.com/images/search-magnifying-glass-icon/search-magnifying-glass-icon-3.jpg"
            alt="Search Button">
        <button class="button-login home" id="home">
            Home
        </button>

    </header>
    <div class="container">
        <div class="pages-title">
            <div>
                <img src="../../resets/logo.png" alt="Trackgenix Logo">
            </div>
            <div>
                <h1>
                    Trackgenix
                </h1>
                <h2>
                    Data Management
                </h2>
            </div>
        </div>
        <div class="login">
            <h3>Sign up</h3>
            <form>
                <div class="info">
                    <fieldset>
                        <label for="register-name">Name</label>
                        <input type="text" name="register-name" id="register-name" placeholder="Write your name">
                        <label for="register-surname">Surname</label>
                        <input type="text" name="register-surname" id="register-surname"
                            placeholder="Write your surname">
                       
                        <label for="register-email">Email</label>
                        <input type="email" name="register-email" id="register-email" placeholder="Write your email">
                        <label for="register-password">Password</label>
                        <input type="password" name="register-password" id="register-password"
                            placeholder="Write your password">
                        <label for="register-repeat-password">Repeat your password</label>
                        <input type="password" name="register-repeat-password" id="register-repeat-password"
                            placeholder="Repeat your password">
                    </fieldset>
                    <fieldset>
                        <label for="register-dni">DNI</label>
                        <input type="number" name="register-dni" id="register-dni" placeholder="Write your DNI">
                        <label for="register-birthday">Birthday</label>
                        <input type="date" name="register-birthday" id="register-birthday"
                            placeholder="Writhe you birthday">
                        <label for="register-telephone">Telephone number</label>
                        <input type="number" name="register-telephone" id="register-telephone"
                            placeholder="Write your telephone">
                        <label for="register-adress">Adress</label>
                        <input type="text" name="register-adress" id="register-adress" placeholder="Write your adress">
                        <label for="register-district">District</label>
                        <input type="text" name="register-district" id="register-district"
                            placeholder="Write your district">
                        <label for="register-zip">Postal Code</label>
                        <input type="number" name="register-zip" id="register-zip" placeholder="Write your Postal Code">
                    </fieldset>

                </div>
                <button type="submit">Sign up</button>
            </form>
        </div>
        <footer>
            <div id="footer-img">
                <img src="../../resets/linkedin.png" alt="Linkedin icon">
                <img src="../../resets/twitter.png" alt="Twitter icon">
                <img src="../../resets/facebook.png" alt="Facebook icon">
                <img src="../../resets/instagram.png" alt="Instagram icon">
                <img src="../../resets/github.png" alt="Github Icon">
            </div>
            <p>
                Montevideo, Uruguay
            </p>
            <p>
                Copyright 2022 Radium Rocket. AII rights reserved.
            </p>
        </footer>
    </div>
</body>

</html>