<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Sign up
    </title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="icon" href="../../resets/logo.png">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/fonts/style.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/sign-up.css">
    <script src="../javascript/sign-up.js"></script>
</head>

<body>
    <header>
        <button id="hamburger-icon">
            <img src="../../resets/hamburgericon.png" alt="Navbar Button" height="30px">
        </button>
        <div id="header-href">
            <a href="#Tutorials">
                Tutorials |
            </a>
            <a href="#Contact">
                Contact
            </a>
        </div>
        <input type="text" placeholder="Search">
        <img id="lupa"
            src="https://icon-library.com/images/search-magnifying-glass-icon/search-magnifying-glass-icon-3.jpg"
            alt="Search Button">
        <button class="button-login home" id="home">
            Home
        </button>
        <button class="button-login log-in">
            Login
        </button>
    </header>
    <div class="container">
        <div class="pages-title">
            <div>
                <img src="../../resets/logo.png" alt="Trackgenix Logo">
            </div>
            <div>
                <h1>
                    Trackgenix
                </h1>
                <h2>
                    Data Management
                </h2>
            </div>
        </div>
        <div class="login">
            <h3>Sign up</h3>
            <form>
                <div class="info">
                    <fieldset>
                        <label for="register-name">Name</label>
                        <input type="text" name="register-name" id="register-name" placeholder="Write your name">
                        <div id="name-feedback" class="feedback">The name must only contain letters and at least three
                            of them.</div>
                        <label for="register-surname">Surname</label>
                        <input type="text" name="register-surname" id="register-surname"
                            placeholder="Write your surname">
                        <div id="surname-feedback" class="feedback">The surname must only contain letters. At least
                            three characters.
                        </div>
                        <label for="register-email">Email</label>
                        <input type="email" name="register-email" id="register-email" placeholder="Write your email">
                        <div id="email-feedback" class="feedback">The email has not a format valid.</div>
                        <label for="register-password">Password</label>
                        <input type="text" name="register-password" id="register-password"
                            placeholder="Write your password">
                        <div id="password-feedback" class="feedback">The password has to contain numbers and letters.
                            At least 8 characters.
                        </div>
                        <label for="register-repeat-password">Repeat your password</label>
                        <input type="text" name="register-repeat-password" id="register-repeat-password"
                            placeholder="Repeat your password">
                        <div id="repeat-password-feedback" class="feedback">The password has to contain numbers and
                            letters. At least 8 characters.
                        </div>
                    </fieldset>
                    <fieldset>
                        <label for="register-dni">DNI</label>
                        <input type="number" name="register-dni" id="register-dni" placeholder="Write your DNI">
                        <div id="dni-feedback" class="feedback">The DNI must to contain only numbers. At least eight
                            characters.</div>
                        <label for="register-birthday">Birthday</label>
                        <input type="date" name="register-birthday" id="register-birthday"
                            placeholder="Writhe you birthday">
                        <div id="birthday-feedback" class="feedback">The birthday has to respect the format dd/mm/yyyy
                            and the date must be before today.
                        </div>
                        <label for="register-telephone">Telephone number</label>
                        <input type="number" name="register-telephone" id="register-telephone"
                            placeholder="Write your telephone">
                        <div id="telephone-feedback" class="feedback">The telephone must to contain only numbers. Ten
                            characters are allowed.
                        </div>
                        <label for="register-address">Address</label>
                        <input type="text" name="register-address" id="register-address"
                            placeholder="Write your address">
                        <div id="address-feedback" class="feedback">The address must to contain numbers and letters. At
                            least three characters.
                        </div>
                        <label for="register-city">City</label>
                        <input type="text" name="register-city" id="register-city" placeholder="Write your City">
                        <div id="city-feedback" class="feedback">The city must to contain numbers. At least
                            ten characters.
                        </div>
                        <label for="register-zip">Postal Code</label>
                        <input type="number" name="register-zip" id="register-zip" placeholder="Write your Postal Code">
                        <div id="zip-feedback" class="feedback">The postal code must to contain only numbers. Between
                            four and five characters are allowed.
                        </div>
                    </fieldset>

                </div>
                <button type="submit" id="signup-submit">Sign up</button>
            </form>
        </div>
        <footer>
            <div id="footer-img">
                <img src="../../resets/linkedin.png" alt="Linkedin icon">
                <img src="../../resets/twitter.png" alt="Twitter icon">
                <img src="../../resets/facebook.png" alt="Facebook icon">
                <img src="../../resets/instagram.png" alt="Instagram icon">
                <img src="../../resets/github.png" alt="Github Icon">
            </div>
            <p>
                Montevideo, Uruguay
            </p>
            <p>
                Copyright 2022 Radium Rocket. AII rights reserved.
            </p>
        </footer>
    </div>
</body>

</html>