body {
    display: flex;
    flex-direction: column;
    font-family: roboto;
}

h3 {
    margin-bottom: 10px;
    line-height: 29px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

aside {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pages-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.pages-title h1,
h2 {
    text-transform: uppercase;
    text-align: center;
}

.pages-title h1 {
    font-weight: bold;
}

.pages-title h1 {
    font-weight: bold;
    font-size: 35px;
}

.pages-title img {
    height: 60px;
}

.description {
    display: flex;
    flex-direction: column;
}

.description img {
    width: 100%;
}

.description p {
    text-align: center;
}

section#infos-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: center;
}

section#infos-grid div {
    width: 150px;
    margin: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #EFE7E7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#infos-grid img {
    height: 100px;
    width: 100%;
}

div#motives {
    display: flex;
    flex-direction: column;
    text-align: center;
}

div#about-us img {
    width: 100%;
}

div#about-us {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 15px;
    margin-top: 50px;
    background: #E9E9E9;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 20px;

}

#about-us div {
    display: flex;
}

.about-section-2 {
    flex-direction: row-reverse;
}

.contact-form {
    display: none;
}

div#footer-img img {
    width: 20px;
}

.column-menu {
    background: #50a780;
    padding: 20px;
}

.column-menu div {
    padding: 10px;
}

.column-menu section {
    display: flex;
    justify-content: center;
    align-content: center;
}

.column-menu a {
    color: white;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div+p {
    color: #49A37B;
}



.column-menu section div+div {
    border-left: 1px solid;
}